include body.pug

footer.footer
	.container
		span (808) 550-8261
		br
		span 1640 Liliha St., Honolulu, HI 96817
	script(src="https://cdn.jsdelivr.net/combine/npm/jquery@3,npm/lodash@4,npm/html5shiv@3,npm/html5shiv@3/dist/html5shiv-printshiv.min.js,npm/socket.io-client@2/dist/socket.io.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe-ui-default.min.js")
	script(src="js/all.js")