head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	title Converge #{(options && options.pageTitle) ? " - " + options.pageTitle : ""}
	meta(name="description" content="")
	meta(name="author" content="Converge")
	link(rel="shortcut icon", href="/assets/img/favicon.ico", type="image/x-icon")

	//- Load CSS frameworks from jsDelivr CDN.
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/combine/npm/normalize.css@8,npm/animate.css@3")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/default-skin/default-skin.css")
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/hello-week@1/dist/helloweek.min.css")
	link(rel="stylesheet", href="/vidbg/vidbg.css")
	link(rel="stylesheet", type="text/css", href="/css/main.css")
	script(defer, src="https://use.fontawesome.com/releases/v5.1.0/js/all.js")
	script(src="https://www.google.com/recaptcha/api.js")
