mixin dropdown(link)
	.navbar-item.has-dropdown.is-hoverable
		.navbar-link.is-unselectable.navbarDropdownTitle(style="cursor: default;")= link
		.navbar-dropdown.is-boxed
			block

nav.navbar.is-transparent
	//-  box-shadow: 0px 3px 6px #888888;
	.navbar-brand.is-flex(style="justify-content: center;")
		a.navbar-item(href="/index.html")
			img(src="/assets/img/logo_black.png")
		a.navbar-burger(data-target="navMenu")
			- for (var x = 0; x < 3; x++)
				span
	//- To add new page:
	//- 1. Add link to this nav
	//- 2. Create .pug file in views/ (duplicate aboutSections.pug)
	//- 3. Create route in routes/routes.js
	//- 4. To link Airtable -- check routes/models.js and routes/routes.js to make sure code matches Airtable tables
	#navMenu.navbar-menu
		.navbar-start
			.navbar-item &nbsp;
			a.navbar-item(href="/index.html#welcome", onclick="jumpToWelcome();") Welcome
			+dropdown("About")
				a.navbar-item(href="/values.html") Values
				a.navbar-item(href="/history.html") History
				a.navbar-item(href="/staff.html") Our Staff
			+dropdown("Experience")
				a.navbar-item(href="/calendar.html") Calendar
				a.navbar-item(href="/classes.html") Classes
				a.navbar-item(href="/photos.html") Photos
			+dropdown("Community")
				a.navbar-item(href="/announcements.html") Announcements
				a.navbar-item(href="/youth.html") Youth
				a.navbar-item(href="/coya.html") CoYA
				a.navbar-item(href="/ministries.html") Ministries
				a.navbar-item(href="/forms.html") Forms &amp; Reg
			+dropdown("Video")
				a.navbar-item(href="/jitsi.html") Jitsi
				a.navbar-item(href="/room-one.html") Room 1
				a.navbar-item(href="/room-two.html") Room 2
				a.navbar-item(href="/room-three.html") Room 3
			+dropdown("Resources")
				a.navbar-item(href="/live.html") Live Stream
				a.navbar-item(href="/tv.html") Converge TV
				a.navbar-item(href="/sermons.html") Past Sermons
				a.navbar-item(href="/authentic-peace.html") Authentic Peace
				a.navbar-item(href="/articles-and-blogs.html") Articles &amp; Blogs
			a.navbar-item(href="/be-blessed.html") Be Blessed
			a.navbar-item(href="/hebrews.html") HE Brews
			+dropdown("Contact")
				a.navbar-item(href="/more-info.html") More Info
				a.navbar-item(href="/serve.html") To Serve
				a.navbar-item(href="/prayer.html") For Prayer
				a.navbar-item(href="/baptism-and-confirmation.html") Baptism &amp; Confirmation
