mixin dropdown(link)
	.navbar-item.has-dropdown.is-hoverable
		a.navbar-link= link
		.navbar-dropdown
			block

nav.navbar
	//-  box-shadow: 0px 3px 6px #888888;
	.navbar-brand
		a.navbar-item(href="/index.html")
			//- img(src="assets/img/logo.png")
		a.navbar-burger(data-target="navMenu")
			- for (var x = 0; x < 3; x++)
				span
	//- To add new page:
	//- 1. Add link to this nav
	//- 2. Create .pug file in views/ (duplicate aboutSections.pug)
	//- 3. Create route in routes/routes.js
	#navMenu.navbar-menu
		.navbar-start
			.navbar-item &nbsp;
			a.navbar-item(href="/index.html#welcome") Welcome
			+dropdown("About")
				a.navbar-item(href="/history.html") History
				a.navbar-item(href="/staff.html") Our Staff
			+dropdown("Community")
				a.navbar-item(href="/youth.html") Youth
				a.navbar-item(href="/coya.html") CoYA
				a.navbar-item(href="/small-groups.html") Small Groups
				a.navbar-item(href="/ministries.html") Ministries
			+dropdown("Experience")
				a.navbar-item(href="/calendar.html") Calendar
				a.navbar-item(href="/classes.html") Classes
				a.navbar-item(href="/photos.html") Photos
			a.navbar-item(href="/hebrews.html") HE Brews
			+dropdown("Resources")
				a.navbar-item(href="/authentic-peace.html") Authentic Peace
				a.navbar-item(href="/articles-and-blogs.html") Articles &amp; Blogs
				a.navbar-item(href="/tv.html") Converge TV
				a.navbar-item(href="/sermons.html") Past Sermons
			+dropdown("Contact")
				a.navbar-item(href="/more-info.html") More Info
				a.navbar-item(href="/serve.html") To Serve
				a.navbar-item(href="/prayer.html") For Prayer
