mixin dropdown(link, dropdownAttr)
	.navbar-item.has-dropdown.is-hoverable
		.navbar-link.is-unselectable.navbarDropdownTitle(style="cursor: default;")= link
		.navbar-dropdown.is-boxed(class=dropdownAttr)
			block

nav.navbar.is-transparent
	//-  box-shadow: 0px 3px 6px #888888;
	.navbar-brand.is-flex(style="justify-content: center;")
		a.navbar-item(href="/")
			img(src="/assets/img/2020_logo.png")
		a.navbar-burger(data-target="navMenu")
			- for (var x = 0; x < 3; x++)
				span
	//- To add new page:
	//- 1. Add link to this nav
	//- 2. Create .pug file in views/ (duplicate aboutSections.pug)
	//- 3. Create route in routes/routes.js
	//- 4. To link Airtable -- check routes/models.js and routes/routes.js to make sure code matches Airtable tables
	#navMenu.navbar-menu
		.navbar-start
			.navbar-item &nbsp;
			a#jumpToWelcome.navbar-item(href="/#welcome") WELCOME
			+dropdown("ABOUT")
				a.navbar-item(href="/team-leaders") Team Leaders
				a.navbar-item(href="/history") History
				a.navbar-item(href="/values") Values
			//- +dropdown("Connect")
			//- 	a.navbar-item(href="/youth") Youth
			//- 	a.navbar-item(href="/coya") CoYA
			//- 	a.navbar-item(href="/ministries") Ministries
			//- 	a.navbar-item(href="/classes") Classes
			+dropdown("LOOK UP")
				a.navbar-item(href="/announcements") Announcements
				a.navbar-item(href="/calendar") Calendar
				a.navbar-item(href="/forms") Forms &amp; Reg
				//- a.navbar-item(href="/authentic-peace") Authentic Peace
				//- a.navbar-item(href="/be-blessed") Be Blessed
				a.navbar-item(href="/photos") Photos
			+dropdown("HANGOUT")
				a.navbar-item(href="/live") Live Stream
				a.navbar-item(href="/listen") Listen
				a.navbar-item(href="/tv") Watch
				a.navbar-item(href="/sermons") Past Sermons
				a.navbar-item(href="/articles-and-blogs") Articles &amp; Blogs
				//- a.navbar-item(href="/jitsi") Jitsi
				//- a.navbar-item(href="/palehua-room") Palehua Room
				//- a.navbar-item(href="/mokuleia-room") Mokuleia Room
				//- a.navbar-item(href="/kauai-room") Kauai Room
				//- +dropdown("Resources")
			a.navbar-item(href="/hebrews") HE BREWS
		.navbar-end
			a.navbar-item(href="/give") GIVE
			a.navbar-item(href="mailto:converge@clch.org") CONTACT
			//- +dropdown("CONTACT", "is-right")
			//- 	a.navbar-item(href="/prayer") For Prayer
			//- 	a.navbar-item(href="/serve") To Serve
			//- 	a.navbar-item(href="/devos") Submit Devos
			//- 	a.navbar-item(href="/booking-time") Booking Time
			//- 	a.navbar-item(href="/baptism-and-confirmation") Baptism &amp; Confirmation
			//- 	a.navbar-item(href="/more-info") More Info
			//- Spacer
			a.navbar-item.is-hidden-touch &nbsp;
