section.hero.is-full-height.is-hidden-touch
	.hero-head
		include nav.pug
section#mobileHeroHeadContainer.is-hidden-aspect-ratio(style="height: 3.25rem;")
	.hero-head#mobileHeroHead
		include nav.pug
