// Override Bulma vars here. Use https://bulma.io/documentation/overview/colors/, not Bulma vars.
// $primary: hsl(217, 71%, 53%);
@import "./node_modules/bulma/bulma.sass";

$navbarArrowColor: $grey-dark;

body {
	font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-burger {
	z-index: 100;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
}

#frontPageHero {
	@media screen and (min-aspect-ratio: 220/131) {
		// min-width: 1088px
		background-image: url("../../assets/img/decal_large.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100% auto;
		background-attachment: fixed;
	}
}

.is-fullheight-aspect-ratio {
	@media screen and (min-aspect-ratio: 220/131) {
		min-height: 100vh;
	}
}

.is-hidden-aspect-ratio {
	@media screen and (min-aspect-ratio: 220/131) {
		display: none!important;
	}
}

.navbar {
	width: 100%;
	position: fixed;
	z-index: 100;
	
}

.hero .navbar.navbarBackground {
	background-color: rgba(255, 255, 255, 0.8);
	transition: opacity 0.3s;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;

	&:hover {
		background-color: rgba(255, 255, 255, 1.0);
	}
}

.navbar-link::after {
	border-color: $navbarArrowColor;
}

.collapsibleButton {
	cursor: pointer;
}

.collapsibleHeading {
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.collapsibleContent {
	max-height: 0;
	overflow: hidden;
	padding: 0rem 0.75rem; // Fixes glitch
	-webkit-transition: max-height 0.3s, padding 0.3s;
	-o-transition: max-height 0.3s, padding 0.3s;
	transition: max-height 0.3s, padding 0.3s;
}