doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeader("Page not found!")
			+section()
				p #[a(href="/index.html") Click here] to go back to the home page.

		//- Footer
		include includes/footer.pug
