doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.pageTitle)
			include includes/recordContent.pug

		//- Footer
		include includes/footer.pug
