doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;")= (pageTitle || "")
			.hero-foot
		article.article
			include includes/body.pug
			each record in records
				+section(record.title)
					case record.style
						when "right"
							.columns
								.column.is-two-thirds: +addText(record.body)
								.column: figure.image: +addImg(record.img)
						when "left"
							.columns
								.column: figure.image: +addImg(record.img)
								.column.is-two-thirds: +addText(record.body)
						when "top"
						default
							.columns.is-centered
								.column.is-half: figure.image: +addImg(record.img)
							.columns.is-centered
								.column: +addText(record.body)

		//- Footer
		include includes/footer.pug