doctype html
html(lang="en")
	include includes/headNoIndex.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.pageTitle)
			+section("Archive")
				input#searchBar.input.is-rounded(type="text", placeholder="Search", onkeyup="searchArchive()")
				br
				br

				table.table.is-hoverable.is-fullwidth
					thead
						tr
							th Date
							th Author
							th Title
							th Article
					tbody#archiveTable
						each record in records[0]
							//- https://stackoverflow.com/questions/14581610/check-date-greater-than-30-days-from-todays-date/14581743
							//- https://stackoverflow.com/questions/9224773/js-check-if-date-is-less-than-1-hour-ago
							- var recordDate = new Date(record.date)
							- var NINE_DAYS = 9 * 24 * 60 * 60 * 1000 /* ms */
							//- If more than a month old
							if record.publish && (((new Date) - recordDate) > NINE_DAYS)
								tr
									td
										if record.date
											+addDate(record.date, "span")
									td: +addText(records[1][record.author[0]]["name"])
									td: +addText(record.title)
									td: +addText(record.body)

			+section()
				p #[a(href="/articles-and-blogs") Click here] to go back to the latest articles and blogs.

		//- Footer
		include includes/footer.pug
