doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;")= (options.pageTitle || "")
			.hero-foot
		article.article
			include includes/body.pug
			
			//- Prepares the records object to be accessed in the script tag
			- var recordsString = JSON.stringify(records[0])
			//- Redirects to the latest Authentic Peace article
			script.
				var records = (JSON.parse(!{JSON.stringify(recordsString)})); //- Accesses records object which is outside script tag scope

				//- Redirects user to last record in records object, which should be the most recent article (if Airtable is sorted properly)
				window.location.replace("authentic-peace/" + records[Object.keys(records)[Object.keys(records).length - 1]].id);

		//- Footer
		include includes/footer.pug
