doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeader(options.pageTitle)
			+section("Archive")
				table.table.is-hoverable.is-fullwidth
					thead
						tr
							th Article
							th Download
					tbody
						each record in records[0]
							if record.archived
								tr
									td= (record.title || "")
									td
										if record.pdf
											a(href=record.pdf[0].url)
												span.icon: i.fa.fa-file-download

			+section()
				p #[a(href="/authentic-peace.html") Click here] to go back to the latest article.

		//- Footer
		include includes/footer.pug
