doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;")= (options.pageTitle || "")
			.hero-foot
		article.article
			include includes/body.pug
			section.section
				.columns
					//- Visual Calendar
					.column.is-half
						.hello-week
							.hello-week__header
								.hello-week__prev
									+icon("fa-arrow-left", "fa-2x")
								.hello-week__label
								.hello-week__next
									+icon("fa-arrow-right", "fa-2x")
							.hello-week__week
							.hello-week__month

					.column
						//- Event Details
						.container: .content
							#eventDetails(style="min-height: 30vh;")
								h1#eventDetailsTitle.eventDetails
								p
									span#eventDetailsDate.eventDetails
									span#eventDetailsEndDate.eventDetails
									br
									em#eventDetailsMinistry.eventDetails
								p#eventDetailsBody.eventDetails Click an event to view more info.
								br

						//- Event List
						.container: .content
							#eventCalendarList(style="height: 50vh; overflow-y: scroll; overflow-x: hidden;")
								table#eventCalendarTable.table.is-hoverable(style="width: 45vw;"): tbody
									- todaysDate = new Date();
									- todaysDate.setHours(0,0,0,0);
									each record in records[0]
										- recordDate = new Date(record.date)
										//- Only show the record if .publish is true, if record has a title and a date, and if the date of the event is on or after today's date
										//- if ((record.publish && record.title) && (record.date && recordDate > todaysDate))
										if ((record.publish && record.title) && (record.date))
											tr.event(data-record=record, style="cursor: pointer;")
												//- record.date is assumed to exist
												td.eventDate= recordDate.toLocaleDateString("en-US", {timeZone: "Pacific/Honolulu"})

												//- record.title is assumed to exist
												td(style="font-weight: bold;")= record.title						

		//- Footer
		script(src="https://cdn.jsdelivr.net/npm/hello-week@1/dist/helloweek.min.js")
		include includes/footer.pug
