doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.pageTitle)
			section.section
				.columns
					.column.is-two-thirds
						.content
							p: strong We (CLCH) have partnered with MyWell Ministry to provide an online platform to donate conveniently via computer or smartphone.
							p Whether you are using the website or app, the steps are the same.
							ol
								li Create your account number (your cell phone number, capable of receiving security verification texts)
								li Create 6 digit pin
								li Select your church || Look for Chinese Lutheran Church of Honolulu in the list of registered organizations  
								li Establish your payment method and provide account information
								li Make a one-time payment or set up a recurring payment (weekly, bi-weekly, or monthly)
					.column
						.content.has-text-centered
							p
								strong Direct Site:
								br
								a(href="https://www.mywell.org/give/chineselutheran/", target="_blank") https://www.mywell.org/give/chineselutheran/
							p &nbsp;
							p
								strong MyWell App:
								br
								a(href="https://apps.apple.com/us/app/my-well-giving/id1439735413", target="_blank")
									img(src="/assets/img/apple_badge.png", style="max-width: 30%; margin-top: 1rem;")
								br
								a(href="https://play.google.com/store/apps/details?id=org.mywell.give", target="_blank")
									img(src="/assets/img/android_badge.png", style="max-width: 40%")

		//- Footer
		include includes/footer.pug
