doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.pageTitle)
			include includes/recordContent.pug

			//- BEGIN HEBREWS.PUG SPECIFIC CODE
			+section("Menu")
				table.table.is-hoverable.is-fullwidth
					thead
						tr
							th Drink
							th Small*
							th Large*
							th &nbsp;
					tbody
						each record in Object.values(records[1] || {})
							tr
								if (record.heading)
									td(align="center" colspan="4" style="text-align: center; background-color: hsl(0, 0%, 86%);")= record.drink
								else
									td= (record.drink || "")
									td= (record.smallCost) ? "$" + record.smallCost : ""
									td= (record.largeCost) ? "$" + record.largeCost : ""
									td= (record.notes || "")
				br
				br
				p.has-text-right *All prices are suggested donations. Mahalo for your support! &nbsp;
			//- END HEBREWS.PUG SPECIFIC CODE

		//- Footer
		include includes/footer.pug
