doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.headerImg)
			each record in records[0]
				+section(record.title)
					case record.style
						when "right"
							.columns
								.column.is-two-thirds
									+addDate(record.date)
									+addText(record.body)
								.column: figure.image: +addImg(record.img)
						when "left"
							.columns
								.column: figure.image: +addImg(record.img)
								.column.is-two-thirds
									+addDate(record.date)
									+addText(record.body)
						when "top"
						default
							.columns.is-centered
								.column.is-half: figure.image: +addImg(record.img)
							.columns.is-centered
								.column
									+addDate(record.date)
									+addText(record.body)

			//- BEGIN HEBREWS.PUG SPECIFIC CODE
			+section("Menu")
				table.table.is-hoverable.is-fullwidth
					thead
						tr
							th Drink
							th Small*
							th Large*
							th &nbsp;
					tbody
						each record in records[1]
							tr
								if (record.heading)
									td(align="center", colspan="4", style="text-align: center; background-color: hsl(0, 0%, 86%);")= record.drink
								else
									td= (record.drink || "")
									td= (record.smallCost) ? "$" + record.smallCost : ""
									td= (record.largeCost) ? "$" + record.largeCost : ""
									td= (record.notes || "")
				br
				br
				p.has-text-right *All prices are suggested donations. Mahalo for your support! &nbsp;
			//- END HEBREWS.PUG SPECIFIC CODE

		//- Footer
		include includes/footer.pug
