doctype html
html(lang="en")
	include includes/head.pug
	body
		section#frontPageHero.hero.is-fullheight.is-hidden-touch
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					//- h1.title.is-1(style="padding-top: 1rem;") CONVERGE
			.hero-foot
		section.is-fullwidth.is-hidden-desktop
			include includes/nav.pug
			img(src="../../assets/img/decal_large.jpg", style="margin-top: 5rem")
		article.article
			include includes/body.pug
			#firstContent

			//- BEGIN ARTICLE.PUG CODE
			each record in records[0]
				+section(record.title)
					case record.style
						when "right"
							.columns
								.column.is-two-thirds
									+addDate(record.date)
									+addText(record.body)
								.column: figure.image: +addImg(record.img)
						when "left"
							.columns
								.column: figure.image: +addImg(record.img)
								.column.is-two-thirds
									+addDate(record.date)
									+addText(record.body)
						when "top"
						default
							.columns.is-centered
								.column.is-half: figure.image: +addImg(record.img)
							.columns.is-centered
								.column
									+addDate(record.date)
									+addText(record.body)
			//- END ARTICLE.PUG CODE

			//- +section("Map")
			//- 	.columns.is-centered: .column.is-three-quarters
			//- 		#map.is-fullwidth(style="height: 20rem;")

		//- Footer
		include includes/footer.pug
		//- script(async, defer, type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB77nR_TKpRV6CJ_B5kgqOzK8NshI61AhI&callback=initMap")
