doctype html
html(lang="en")
	include includes/head.pug
	body
		section#frontPageHero.hero.is-fullheight-aspect-ratio
			.hero-head
				include includes/nav.pug
			.hero-body.is-hidden-touch
				.container.has-text-centered
					//- h1.title.is-1(style="padding-top: 1rem;") CONVERGE
			.hero-foot
		img.is-hidden-aspect-ratio(src="../../assets/img/decal_large.jpg")
		article.article
			include includes/body.pug
			#welcome

			//- BEGIN ARTICLE.PUG CODE
			each record in records[0]
				+section(record.title)
					case record.style
						when "right"
							.columns
								.column.is-two-thirds
									+addDate(record.date)
									+addText(record.body)
								.column: figure.image: +addImg(record.img)
						when "left"
							.columns
								.column: figure.image: +addImg(record.img)
								.column.is-two-thirds
									+addDate(record.date)
									+addText(record.body)
						when "top"
						default
							.columns.is-centered
								.column.is-half: figure.image: +addImg(record.img)
							.columns.is-centered
								.column
									+addDate(record.date)
									+addText(record.body)
			//- END ARTICLE.PUG CODE

		//- Footer
		include includes/footer.pug
