doctype html
html(lang="en")
	include includes/head.pug
	body
		script(src="https://meet.jit.si/external_api.js")
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeader(options.pageTitle)
			section.section(style="padding-top: 0")
				- var roomName = records[0][Object.keys(records[0])[0]].roomName; // [{"rec34847473283": {roomName: "bob"}}]
				div(style="height:80vh", data-roomname=roomName)#jitsiContainer

		//- Footer
		include includes/footer.pug
