doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.headerImage)
			+section()
				if options.passedValidation
					p We have received your request and will get back to you soon. Thank you!
				else
					form(action="/prayer.html", method="post")
						//- Name
						.field
							- var nameInvalid = options.invalid.hasOwnProperty("name")
							label.label Name
							.control.has-icons-right
								input.input(type="text", name="name", value=options.fields.name, class=(nameInvalid && "is-danger"))
								if nameInvalid
									span.icon.is-small.is-right
										i.fas.fa-exclamation-triangle
							if nameInvalid
								p.help.is-danger= options.invalid.name

						//- Message, aka Request
						.field
							- var messageInvalid = options.invalid.hasOwnProperty("message")
							label.label Request
							.control
								textarea.textarea(name="message", class=(messageInvalid && "is-danger"))= options.fields.message
							if messageInvalid
								p.help.is-danger= options.invalid.message

						//- reCAPTCHA & CSRF
						.field
							.g-recaptcha(data-sitekey="6Ld7k2UUAAAAADi8qXd_VEB6WAfMimFA63LqwS_D")
							if options.invalid.hasOwnProperty("reCaptcha")
								p.help.is-danger= options.invalid.reCaptcha
						input(type="hidden", name="_csrf", value=(options.csrfToken))
						input.button(type="submit")

		//- Footer
		include includes/footer.pug
