doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;")= (options.pageTitle || "")
			.hero-foot
		article.article
			include includes/body.pug
			+section()
				.columns.is-multiline
					each record in records[0]
						.column.is-one-third
							.card
								.card-image
									figure.image.is-square.is-marginless
										+addImg(record.img)
								.card-content
									.content.has-text-left
										h4= (record.name || "")
										strong: em= (record.role) ? record.role.join(", ") : ""
										em: +addText(record.description)
										+addText(record.bio)

		//- Footer
		include includes/footer.pug
