doctype html
html(lang="en")
	include includes/headNoIndex.pug
	body
		include includes/responsiveNav.pug
		article.article
			include includes/body.pug
			+addPageHeaderImage(options.pageTitle)
			+section()
				.columns.is-multiline
					each record in records[0]
						.column.is-one-third
							.card
								.card-image
									if record.img
										+addImg(record.img, "is-square is-marginless")
								.card-content
									.content.has-text-left
										if record.name
											h4= (record.name || "")
										if record.role
											strong: em= (record.role) ? record.role.join(", ") : ""
										if record.description
											em: +addText(record.description)
										if record.bio
											+addText(record.bio)

		//- Footer
		include includes/footer.pug
